# Copy this to .env and fill in your values
# Never commit .env to git

SUPABASE_URL=https://xyxgvwgitreaivrxxbhh.supabase.co
SUPABASE_ANON_KEY=sb_publishable_RIr4pDKgUaOfPfzhzV9zFQ_bHcLlOge
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5eGd2d2dpdHJlYWl2cnh4YmhoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTk4MDE0MywiZXhwIjoyMDkxNTU2MTQzfQ.REuneSIOV7Z_J-ir0fbStf4Ob01jKvGEpvNl0W_Wd28

RAZORPAY_KEY_ID=rzp_live_YOUR_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_KEY_SECRET

PORT=3000
